.profile-container .main {
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-container .main .topbar {
  background-color: teal;
  overflow: hidden;
}

.profile-container .main .topbar a {
  float: right;
  color: white;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
  font-size: 26px;
}

.profile-sidebar {
  background-color: var(--gray);
  color: var(--extra-light);
  height: 100vh;
}

.profile-sidebar a {
  margin-left: 10px;
  display: block;
  color: white;
  padding-bottom: 10px;
  font-size: 30px;
  text-decoration: none;
}

.profile-container .main .row .col-md-4 .card {
  position: relative;
  display: flex;
  flex-direction: column;
}
